<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body class="register">
    
    <%- include('partials/header') %>

        <main id="pd_main-container">
            <section id="pd_main-producto_">
                <div class="container">
                    <br>
                    <div class="pd_tit-categoria p40">Editar producto</div>
                    
                    <div class="pd_producto-img">
                        <div class="pd_prod-left">
                            <form action="/product/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                <div class="fr_fechaNac">
                                    <label class="fr_lbltexto" for="seccion"> Sección </label>
                                    <input type="text" name="categoria" id="seccion" value="<%= product.categoria %>" required>
                                </div>
                                <div class="fr_nombre">
                                    <label class="fr_lbltexto">Título</label>
                                    <input type="text" name="name" id="titulo" value="<%= product.name %>" required>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto"> Descripción </label>
                                    <input type="textarea" name="descripcion" id="descripcion" value="<%= product.descripcion %>" required>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto"> Color </label>
                                    <input type="text" name="color" id="color" required
                                        placeholder="* Color">
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto"> Talle </label>
                                    <input type="textarea" name="talle" id="talle" required
                                        placeholder="* Talle">
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto"> Precio </label>
                                    <input type="text" name="price" id="precio" value="$<%= product.price %>" required>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto"> Imagen de producto </label>
                                    <input type="file" name="image" accept=".jpg, .png">
                                    <input type="hidden" name="oldImage" value="<%= product.image %>">
                                </div>
                                <!--</div>-->
                                <br>
                                <div class="fr_registro">
                                    <div class="fr_registro-left">
                                        <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
                                            <span class="pd_gl-cta__content">
                                                Modificar
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section id="pd_detalle"></section>

            <%- include('partials/newsletter') %>

            <%- include('partials/prefooter') %>
        </main>

        <%- include('partials/footer') %>

            <!-- Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                crossorigin="anonymous"></script>

</body>

</html>